// Colors
$bodyColor: #F6F3F3;
$textColor: #343030;
$textColorWhite: #F4F6F9;
$textColorDarken: #555555;
$textColorGray: #A0A0A0;
$borderColor: #E3E3E3;
$borderColorDarken: #B5B5B5;
$buttonColor: #403432;
$buttonColorLighten: #776763;
$buttonColorDisabled: #C1B4B1;
$buttonColorAdded: #5B3A32;
$footerColor: #ECEAEA;

// Sizes
$fz24: 24px;
$fz18: 18px;
$fz16: 16px;
$fz14: 14px;

// LineHeigths
$lh36: 36px;
$lh27: 27px;
$lh24: 24px;
$lh21: 21px;

// FontWeight
$fwLight: 300;
$fwNormal: 400;
$fwBold: 700;